{% extends "layout.jinja2" %}
{% block title %}
	{% if action == "create" %}Create{% else %}Edit{% endif %} an Entry
{% endblock %}

{% block body %}
	<form action="{{ action }}" method="POST">
	{% for field in form %}
		{% if field.errors %}
			<ul>
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		<p>{{ field.label }}:<br />{{ field(rows=10,cols=80) }}</p>
	{% endfor %}
    <p><input type="submit" name="submit" value="Submit" /></p>
</form>
{% endblock %}